html, #root{
  /* background-image: url(./assets/img/pexels-madison-inouye-1831234.jpg); */
  background-color: #FBE8E7;
  font-family: monospace;
  height: 100%;
}
.App {
  background-color: #FCF5EE;
  opacity: 0.7;
  max-width: 90%;
  min-width: 20%;
  height: 100%;
  padding-top: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: x-large;
}

#navbar {
  background-color: #FCF5EE;
  padding: 40px;
}

.nav-link{
  color: #5e5c5c;
}

.nav-link:visited{
  color: #5e5c5c;
}

.nav-link:hover{
  color: #FFC4D0;
}

.content_page {
  padding: 40px;
}

.content {
  margin-top: 10%;
  margin-bottom: 20%;
}

.content h1 {
  margin-top: 15%;
  margin-bottom: 2%;
}

.content .anchor{
  position: absolute;
  left: 0px;
  margin-top: 1000px;
}